<head>
  <h1>Stupid Coaching</h1>
</head>

<body>
  <div>

    <form action="/answer">
    <p>Ask the coach something</p>
      <input type="text" name="question" placeholder="question...">
      <input type="submit" value="Ask!">
    </form>
  </div>
<body>
